{
	"webroot": "web",
	"port": 8081,
	"db": {
		"host": "localhost",
		"user": "dbuser",
		"password": "dbpass",
		"database": "mimg"
	},
	"use_https": false,
	"https": {
		"key": "",
		"cert": ""
	},
	"web": {
		"title": "Spus",
		"base_url": "http://example.com"
	},
	"minify": true,
	"session_timeout": 1800000,
	"dir": {
		"imgs": "imgs"
	}
}
