{
	"title": "Spus",
	"base_url": "http://example.com",
	"port": 8081,
	"db": {
		"host": "localhost",
		"user": "dbuser",
		"password": "dbpass",
		"database": "spus"
	},
	"use_https": false,
	"https": {
		"key": "",
		"cert": ""
	},
	"scrypt": {
		"maxtime": 1
	},
	"minify": true,
	"session_timeout": 1800000,
	"dir": {
		"imgs": "imgs",
		"web": "web
	},
	"debug": false,
	"max_runs": 9999,
	"cache_max_age": 2628000,
	"cache_max_age_images": 2628000,
	"purge_collections_timeout": "2 days",
	"purge_collections_interval": 1800000
}
