#uploader-list .file .delete {
	float: right;
	margin-right: -5px;
}
#uploader-list .file .thumbnail {
	display: inline;
	margin: 0px;
	margin-right: 10px;
	height: 100px;
	image-orientation: from-image;
}
#uploader-list .file .name {
	display: inline-block;
}
#uploader-list .file .progress-bar {
	height: 0px;
	position: absolute;
	background: none;
	border-top: 3px solid green;
	margin-top: -3px;
	max-width: calc(100% - 25px);
}
#uploader-upload {
	float: right;
}

#uploader-select-files, #uploader-upload {
	width: 100px;
}
#uploader-select-files {
	float: left;
}
#uploader-collection-name {
	width: calc(100% - 200px);
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 6px 12px;
}
#uploader-select-files, #uploader-collection-name, #uploader-upload {
	height: 34px;
}
