<title>{{conf#title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/global.css?{{conf#current_run}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/{{env#view}}/style.css?{{conf#current_run}}">

<script src="https://code.jquery.com/jquery-2.1.4.min.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>
<script src="/global.js?{{conf#current_run}}" defer></script>
<script src="/{{env#view}}/script.js?{{conf#current_run}}" defer></script>

{{conf#use_owa ? template#open-web-analytics : ''}}
