.hidden {
	display: none;
}

.navbar .navbar-nav {
	margin-bottom: 0px;
}

#login-dropdown .dropdown-menu {
	padding: 10px;
}

#login-dropdown label,
#login-dropdown input {
	width: 100%;
}

#login-dropdown .submit-container {
	text-align: right;
}
#login-dropdown .submit-container .btn {
	width: 75px;
}

#notify-box {
	transition: max-height 0.2s;
	max-height: 0px;

	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;

	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-sizing: content-box;
}

#notify-box .close {
	height: 48px;
	line-height: 48px;
	float: right;
	padding: 0px;

	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 12px;
}
#notify-box .title,
#notify-box .body {
	margin-left: 12px;
	width: calc(100% - 42px);
	margin-top: 16px;
}
#notify-box .title {
	font-weight: bold;
}

#notify-box.active {
	min-height: 48px;
	max-height: 48px;
}
#notify-box.active:hover {
	transition: max-height 0.6s;
	max-height: 200px;
}
