.hidden {
	display: none;
}

.navbar .navbar-nav {
	margin-bottom: 0px;
}

.navbar form {
	border: none;
}

#login-dropdown .dropdown-menu {
	padding: 10px;
}

#navbar-button {
	float: right;
}

#login-dropdown label,
#login-dropdown input {
	width: 100%;
}

form .submit-container {
	text-align: right;
}
form .submit-container .btn {
	width: 100%;
}
form input[type="text"],
form input[type="password"] {
	width: 100%;
}
form label {
	width: 100%;
}

.bordered {
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 10px !important;
}

.title {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 6px;
}

.small-width-container {
	text-align: center !important;
}
.small-width {
	width: auto !important;
	text-align: left !important;
	max-width: 540px !important;
	width: 90% !important;
	margin-left: auto;
	margin-right: auto;
}

#notify-box {
	@prefix transition: max-height 0.2s;
	max-height: 0px;

	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;

	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 100%;
	@prefix box-sizing: content-box;
}

#notify-box .close {
	height: 48px;
	line-height: 48px;
	float: right;
	padding: 0px;

	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 12px;
}
#notify-box .title,
#notify-box .body {
	margin-left: 12px;
	width: calc(100% - 42px);
	margin-top: 16px;
}
#notify-box .title {
	font-weight: bold;
}

#notify-box.active {
	min-height: 48px;
	max-height: 48px;
}
#notify-box.active:hover {
	@prefix transition: max-height 0.6s;
	max-height: 200px;
}
